@model IEnumerable<taekwondoApp.Models.money_tracking>

@{
    ViewBag.Title = "Index";
}

<h2>Money Tracking</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Start Date: @Html.TextBox("startdate")
        End Date: @Html.TextBox("enddate")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student.email_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inventory.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_purchase)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student.email_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventory.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_purchase)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.student_id, invId = item.inventory_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.student_id, invId = item.inventory_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.student_id, invId = item.inventory_id })
            </td>
        </tr>
    }

</table>
