@model taekwondoApp.Models.parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.father_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.father_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mother_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mother_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parent_email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parent_phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_phone_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.parent_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
