@model taekwondoApp.Models.register_student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>register_student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_class.class_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_class.getDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.email_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.register_id, stId = Model.student_id, classId = Model.class_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
